@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #282c34;
  font-family: 'Audiowide', cursive;
}

a{
  text-decoration: none;
}

button{
  border: none;
  cursor: pointer;
}